@charset "UTF-8";
@font-face {
  font-family: "Montserrat";
  src: url("/public/Fonts/Montserrat-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("/public/Fonts/Montserrat-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "Montserrat";
  src: url("/public/Fonts/Montserrat-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("/public/Fonts/Montserrat-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "Gill Sans";
  src: url("/public/Fonts/GillSans-Light.ttf");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Gill Sans";
  src: url("/public/Fonts/GillSans-LightItalic.ttf");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "Gill Sans";
  src: url("/public/Fonts/GillSans.ttf");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Gill Sans";
  src: url("/public/Fonts/GillSans-Italic.ttf");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "Gill Sans";
  src: url("/public/Fonts/GillSans-SemiBold.ttf");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Gill Sans";
  src: url("/public/Fonts/GillSans-SemiBoldItalic.ttf");
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: "Gill Sans";
  src: url("/public/Fonts/GillSans-Bold.ttf");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Gill Sans";
  src: url("/public/Fonts/GillSans-BoldItalic.ttf");
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: "Gill Sans";
  src: url("/public/Fonts/GillSans-UltraBold.ttf");
  font-weight: 800;
  font-style: normal;
}
body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Montserrat", "Helvetica", "Arial", sans-serif;
}

p,
div,
li {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

p,
li {
  font-size: 1.2rem;
  font-weight: 400;
}

section ul li,
section ol li {
  padding-top: 10px;
  margin-left: 30px;
}
section p + ul,
section p + ol {
  margin-top: -40px;
}

a {
  font-weight: bolder;
}
a:hover, a:visited, a:link {
  color: inherit;
  text-decoration: none;
}

header {
  transition: all 0.5s ease-out;
  background: #362596;
  color: white;
  display: grid;
  grid-template: 100%/minmax(0px, 2fr) minmax(300px, 3fr);
  justify-content: space-around;
  height: 100px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 20;
}
header.small {
  height: 60px;
}
header > .logos {
  padding: 8px;
  grid-gap: 10%;
  place-items: stretch;
}
header > .logos > img {
  height: 100%;
  width: auto;
  max-height: 100%;
  max-width: 100%;
  object-fit: contain;
  grid-column: 2;
  margin: auto;
  display: block;
}
header > .logos > img:hover {
  cursor: pointer;
}
header nav {
  place-items: center;
  height: 100%;
}
header nav ul {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  height: 100%;
  margin: 0;
}
header nav ul li {
  vertical-align: middle;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: 5px;
  list-style-type: none;
  height: 100%;
  border-radius: 0 0 3px 3px;
  transition: all 0.3s ease-out;
  color: #ebedec;
  place-items: center;
  background-color: #362596;
}
header nav ul li.active {
  background-color: #4838a2;
  color: white;
  box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.25);
  transform: scale(1.03);
  transform-origin: top;
}
header nav ul li:hover, header nav ul li:focus-within {
  background-color: #4838a2;
  color: white;
  box-shadow: 0px 7px 13px 4px rgba(0, 0, 0, 0.2);
  transform: scale(1.1);
  transform-origin: top;
  cursor: pointer;
  z-index: 10;
}
header nav ul li a {
  font-weight: normal;
  padding: 2.4rem 0.5rem;
  display: block;
}

article > section > *:first-child {
  padding-top: 150px;
}
article > section > *:last-child:not(.hidden) {
  padding-bottom: 80px;
}

section h1,
section > div h1 {
  font-size: 2.1em;
}
section > *,
section > div > * {
  max-width: 800px;
  margin: auto;
  padding: 20px;
}
section > img,
section > div > img {
  object-fit: contain;
  display: block;
  max-width: 100%;
  padding-left: 0px;
  padding-right: 0px;
  height: auto;
}

[data-section] > section {
  max-width: 900px;
}
[data-section] > section img {
  float: right;
  max-width: 40%;
}
@supports (display: grid) {
  [data-section] > section {
    display: grid;
    grid-template-columns: 2fr 3fr;
    grid-gap: 15px;
  }
  [data-section] > section > img {
    float: clear;
    max-width: 100%;
    grid-column: 1/1/span 1/span 1;
  }
  [data-section] > section > div {
    grid-area: 1/2/span 1/span 1;
  }
  [data-section] > section:nth-last-of-type(2n) {
    grid-template-columns: 3fr 2fr;
  }
  [data-section] > section:nth-last-of-type(2n) > img {
    grid-column: 1/2/span 1/span 1;
  }
  [data-section] > section:nth-last-of-type(2n) > div {
    grid-area: 1/1/span 1/span 1;
  }
}

[data-section=hero] {
  min-height: 100vh;
  background: #362596;
  color: white;
  display: grid;
  justify-content: stretch;
  align-content: stretch;
}
[data-section=hero] > div {
  display: grid;
  grid-template-columns: minmax(10px, 20%) auto minmax(10px, 20%);
  grid-template-rows: minmax(150px, 20%) auto minmax(150px, 20%);
  grid-template-areas: ". . ." ". text ." ". . .";
  width: 100%;
  max-width: 100%;
  height: 100%;
  padding: 0 !important;
  margin: 0 !important;
}
[data-section=hero] > div p {
  grid-area: text;
  max-width: 500px;
  font-family: "Montserrat", "Helvetica", "Arial", sans-serif;
  font-size: 3.2em;
  font-weight: bold;
  transition: all 0.6s ease-out;
}
[data-section=hero] > div p:nth-of-type(2n-1) {
  margin-right: 0px;
}
[data-section=hero] > div p:nth-of-type(2n) {
  margin-left: 0px;
}
[data-section=hero] > div p.hidden {
  opacity: 0;
  visibility: visible;
}

[data-section=team] .team {
  max-width: 1200px;
}
@supports (display: grid) {
  [data-section=team] .team {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: space-around;
    align-content: space-around;
  }
  @media only screen and (min-width: 1000px) {
    [data-section=team] .team {
      grid-template-columns: 50% 50%;
    }
  }
}

[data-section=features] .features {
  max-width: 800px;
}
@supports (display: grid) {
  [data-section=features] .features {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 250px));
    justify-content: space-around;
    align-content: space-around;
    grid-gap: 20px;
  }
}

[data-section=products] {
  padding-left: 20px;
  padding-right: 20px;
}

[data-section=testimonials] {
  padding-left: 20px;
  padding-right: 20px;
}

.card {
  clear: both;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 0.5px 2px 0 rgba(0, 0, 0, 0.1);
  margin: 15px;
  border-radius: 10px;
}
.card * {
  padding: 3px;
  text-align: left;
  margin: 0px;
}

@supports (display: grid) {
  .team-member {
    display: grid;
    grid-template: auto auto 1fr/auto 1fr;
    grid-template-areas: "img name" "img position" "img desc";
    grid-column-gap: 5px;
  }
  .team-member div {
    float: left;
    height: 100px;
    width: 100px;
    overflow: hidden;
    border-radius: 100%;
    margin: 5px;
    box-shadow: inset 0 4px 8px 0 rgba(0, 0, 0, 0.2), inset 0 0.5px 2px 0 rgba(0, 0, 0, 0.1);
    padding: 0px;
  }
  .team-member div > img {
    z-index: -2;
    position: relative;
    padding: 0px;
    object-fit: cover;
  }
  .team-member:nth-of-type(2n - 1) {
    grid-template: auto auto 1fr/1fr auto;
    grid-template-areas: "name img" "position img" "desc img";
  }
  @media screen and (max-width: 500px) {
    .team-member {
      grid-template: 1fr auto auto/1fr auto !important;
      grid-template-areas: "name img" "position img" "desc desc" !important;
    }
    .team-member > p:first-of-type {
      align-self: flex-end;
    }
  }
  .team-member div {
    float: none;
    grid-area: img;
  }
  .team-member p:first-of-type {
    grid-area: name;
    font-size: 1.2em;
    font-weight: 600;
  }
  .team-member p:nth-of-type(2):not(:last-of-type) {
    grid-area: position;
    font-style: italic;
  }
  .team-member p:last-of-type {
    grid-area: desc;
  }
}

.feature-item {
  float: left;
}
@supports (display: grid) {
  .feature-item {
    clear: both;
    display: grid;
    grid-template-rows: [img] auto [title] auto [subtitle] auto [desc] 1fr;
  }
  .feature-item div {
    grid-area: img;
    justify-self: center;
    height: 100px;
    width: 90%;
    width: calc(100%-5px);
    border-radius: 10px;
    display: grid;
    place-items: center;
    justify-items: center;
    box-shadow: none;
  }
  .feature-item div img {
    width: 90%;
    max-height: 90%;
  }
  .feature-item p:first-of-type {
    grid-area: title;
    font-size: 1.2em;
    font-weight: 600;
  }
  .feature-item p:nth-of-type(2):not(:last-of-type) {
    grid-area: subtitle;
    font-style: italic;
  }
  .feature-item p:last-of-type {
    grid-area: desc;
  }
}

.product {
  margin: 40px auto;
}
.product img {
  float: left;
}
@supports (display: grid) {
  .product {
    display: grid;
    grid-template-rows: [text] auto 40px [img] auto;
  }
  @media screen and (min-width: 700px) {
    .product {
      grid-template-rows: 1fr;
      grid-template-columns: [img] minmax(250px, 2fr) 40px [text] minmax(300px, 3fr);
    }
    .product:nth-of-type(2n) {
      grid-template-columns: [text] minmax(300px, 3fr) 40px [img] minmax(250px, 2fr);
    }
  }
  .product > img {
    clear: both;
    grid-area: img;
  }
  .product > div {
    grid-area: text;
  }
}

.testimonial {
  margin: 40px auto;
  padding: 20px !important;
}
.testimonial img {
  float: left;
}
@supports (display: grid) {
  .testimonial {
    clear: both;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: [logo] auto [quote] auto [person] auto [position] auto;
  }
  @media screen and (min-width: 800px) {
    .testimonial {
      grid-template-columns: auto 1fr;
      grid-template-rows: auto 1fr 1fr;
      grid-template-areas: "quote quote" "logo person" "logo position";
    }
  }
}
.testimonial p:first-of-type {
  grid-area: quote;
  padding: 0.5em 1em;
  text-align: center;
}
.testimonial p:first-of-type:after {
  content: "”";
  left: 50%;
}
.testimonial p:first-of-type:before {
  content: "“";
  right: 50%;
}
.testimonial p:first-of-type:before, .testimonial p:first-of-type:after {
  font-size: 2em;
  position: relative;
  font-weight: bolder;
  color: #362596;
  display: block;
  transform: translateY(7px);
}
.testimonial p:nth-of-type(2) {
  grid-area: person;
  justify-self: flex-end;
  align-self: flex-end;
}
.testimonial p:nth-of-type(3) {
  grid-area: position;
  justify-self: flex-end;
  align-self: flex-start;
}
.testimonial img {
  grid-area: logo;
  justify-self: center;
}

/*# sourceMappingURL=site.css.map */
