@import "fonts";

$ent-purple: rgb(54, 37, 150);
$ent-purple-70: #7366b7;
$ent-purple-90: #4838a2;

$ent-orange: rgb(223, 144, 47);
$ent-orange-70: #f9a648;
$ent-orange-90: #f7901f;

$ent-gray: rgb(110, 110, 114);
$ent-gray-1: #959698;
$ent-gray-2: #bebebd;
$ent-gray-3: #ebedec;

$ent-maroon: rgb(99, 74, 84);
$ent-maroon-1: #764058;
$ent-maroon-2: #99627b;
$ent-maroon-3: #c8a9b4;

$ent-blue: rgb(126, 136, 193);
$ent-blue-1: #adafdf;
$ent-blue-2: #c7c3e8;
$ent-blue-3: #e3e2f4;

$ent-turquoise: rgb(161, 209, 215);
$ent-turquoise-1: #beeaea;
$ent-turquoise-2: #d2f0f1;
$ent-turquoise-3: #ecf9f7;

body {
	margin: 0;
}

h1,
h2,
h3,
h4,
h5,
th {
	font-family: "Montserrat", "Helvetica", "Arial", sans-serif;
}

p,
div,
li,
td {
	font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

p,
li,
td,
th {
	font-size: 1.2rem;
	font-weight: 400;
}

section {
	ul,
	ol {
		li {
			padding-top: 10px;
			margin-left: 30px;
		}
	}

	p + ul,
	p + ol {
		margin-top: -40px;
	}
}

a {
	font-weight: bolder;
	&:hover,
	&:visited,
	&:link {
		color: inherit;
		text-decoration: none;
	}
}

html {
	width: 100vw;
	overflow-y: auto;
	overflow-x: hidden;
}

.hero {
}

header {
	&,
	* {
		transition: all 0.3s ease-out;
	}
	background: $ent-purple;
	color: white;
	display: grid;
	grid-template: 100% / minmax(0px, 2fr) minmax(200px, 3fr);
	justify-content: space-around;
	height: 100px;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 20;

	&.small {
		height: 4rem;
		li a {
			padding: 1.4rem 0.5rem;
		}
	}
	> .logos {
		//display: grid;
		//grid-template: 100% / minmax(0px, 1fr) auto minmax(0px, 1fr);
		padding: 8px;
		grid-gap: 10%;
		place-items: stretch;
		> img {
			height: 100%;
			width: auto;
			max-height: 100%;
			max-width: 100%;
			object-fit: contain;
			grid-column: 2;
			margin: auto;
			display: block;
			&:hover {
				cursor: pointer;
			}
		}
	}
	nav {
		place-items: center;
		height: 100%;
	}
	nav ul {
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		height: 100%;
		margin: 0;
		li {
			vertical-align: middle;
			padding-left: 15px;
			padding-right: 15px;
			margin-right: 5px;
			list-style-type: none;
			height: 100%;
			border-radius: 0 0 3px 3px;
			transition: all 0.3s ease-out;
			color: $ent-gray-3;
			place-items: center;
			background-color: $ent-purple;
			&.active {
				background-color: $ent-purple-90;
				color: white;
				box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.25);
				transform: scale(1.03);
				transform-origin: top;
			}
			&:hover,
			&:focus-within {
				background-color: $ent-purple-90;
				color: white;
				box-shadow: 0px 7px 13px 4px rgba(0, 0, 0, 0.2);
				transform: scale(1.1);
				transform-origin: top;
				cursor: pointer;
				z-index: 10;
			}
			a {
				font-weight: normal;
				padding: 2.4rem 0.5rem;
				display: block;
			}
		}
	}
}

main {
	//padding-top: 100px;
}

article > section {
	> *:first-child:not(.card) {
		padding-top: 150px;
	}
	> *:last-child:not(.hidden):not(.card) {
		padding-bottom: 80px;
	}
}
section,
section > div {
	h1 {
		font-size: 2.1em;
	}
	//min-height: 80vh;

	> * {
		max-width: 800px;
		margin: auto;
		padding: 20px;
	}
	> img {
		object-fit: contain;
		display: block;
		max-width: 100%;
		padding-left: 0px;
		padding-right: 0px;
		height: auto;
	}
}

[data-section] > section {
	max-width: 900px;
	img {
		float: right;
		max-width: 40%;
	}
	@supports (display: grid) {
		display: grid;

		grid-template-columns: 2fr 3fr;
		grid-gap: 15px;

		> img {
			float: clear;
			max-width: 100%;
			grid-column: 1 / 1 / span 1 / span 1;
		}
		> div {
			grid-area: 1 / 2 / span 1 / span 1;
		}

		&:nth-last-of-type(2n) {
			grid-template-columns: 3fr 2fr;
			> img {
				grid-column: 1 / 2 / span 1 / span 1;
			}
			> div {
				grid-area: 1 / 1 / span 1 / span 1;
			}
		}
	}
}

[data-section="hero"] {
	min-height: 95vh;
	min-height: calc(100vh - 20px);

	background: $ent-purple;
	color: white;

	display: grid;
	justify-content: stretch;
	align-content: stretch;
	> div {
		display: grid;
		grid-template-columns: minmax(10px, 20%) auto minmax(10px, 20%);
		grid-template-rows: minmax(150px, 20%) auto minmax(150px, 20%);
		grid-template-areas: ". . ." ". text ." ". . .";

		width: 100%;
		max-width: 100%;
		height: 100%;

		padding: 0 !important;
		margin: 0 !important;

		p {
			grid-area: text;

			max-width: 500px;

			font-family: "Montserrat", "Helvetica", "Arial", sans-serif;
			font-size: 3.2em;
			font-weight: bold;
			transition: all 0.6s ease-out;
			&:nth-of-type(2n-1) {
				margin-right: 0px;
			}
			&:nth-of-type(2n) {
				margin-left: 0px;
			}
			&.hidden {
				opacity: 0;
				visibility: visible;
			}
		}
	}
}

[data-section="products"] {
}

[data-section="team"] {
	.team {
		max-width: 1200px;
		@supports (display: grid) {
			display: grid;
			grid-template-columns: 1fr;
			justify-content: space-around;
			align-content: space-around;
			@media only screen and (min-width: 1000px) {
				& {
					grid-template-columns: 50% 50%;
				}
			}
		}
	}
}

[data-section="features"] {
	.features {
		max-width: 800px;
		@supports (display: grid) {
			display: grid;
			grid-template-columns: repeat(auto-fill, minmax(100px, 250px));
			justify-content: space-around;
			align-content: space-around;
			grid-gap: 20px;
		}
	}
}

[data-section="products"] {
	padding-left: 20px;
	padding-right: 20px;
}

[data-section="testimonials"] {
	padding-left: 20px;
	padding-right: 20px;
}

[data-section="benefits"] {
	padding-left: 20px;
	padding-right: 20px;
	overflow-y: auto;
	max-width: 100%;

	.key {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(200px, 25%));

		[data-potential]:before {
			content: "";
			width: 20px;
			height: 20px;
			display: block;
			box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 0.5px 2px 0 rgba(0, 0, 0, 0.1);
			position: relative;
			left: -30px;
			top: 20px;
		}
		[data-potential="Low"]:before {
			background: orange;
			color: orange;
		}
		[data-potential="Medium"]:before {
			background: yellow;
			color: yellow;
		}
		[data-potential="High"]:before {
			background: yellowgreen;
			color: yellowgreen;
		}
	}

	table {
		width: 100%;
		min-width: 700px;
		max-width: 1400px;

		border-spacing: 12px;

		tr {
			td:nth-of-type(1) {
				font-family: "Montserrat", "Helvetica", "Arial", sans-serif;
			}

			td:nth-of-type(2),
			[data-potential] {
				border-radius: 3px;
				box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 0.5px 2px 0 rgba(0, 0, 0, 0.1);
				padding: 5px;
			}
			[data-potential] {
				text-align: center;
			}

			td:nth-of-type(2) {
				ul {
					padding: 15px;
					margin: 0px;
				}
				li {
					list-style: none;
					padding: 0px;
					margin: 0px;
				}
			}

			[data-potential="Low"] {
				background: orange;
				color: orange;
			}
			[data-potential="Medium"] {
				background: yellow;
				color: yellow;
			}
			[data-potential="High"] {
				background: yellowgreen;
				color: yellowgreen;
			}
		}
	}
}

.card {
	clear: both;
	//border: $ent-gray-3 solid 1px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 0.5px 2px 0 rgba(0, 0, 0, 0.1);
	margin: 15px;
	border-radius: 10px;

	* {
		padding: 3px;
		text-align: left;
		margin: 0px;
	}
}

.team-member {
	@supports (display: grid) {
		display: grid;
		grid-template: auto auto 1fr / auto 1fr;
		grid-template-areas:
			"img name"
			"img position"
			"img desc";
		grid-column-gap: 5px;

		div {
			float: left;
			height: 100px;
			width: 100px;
			overflow: hidden;
			//border: $ent-gray-3 solid 1px;
			border-radius: 100%;
			margin: 5px;
			box-shadow: inset 0 4px 8px 0 rgba(0, 0, 0, 0.2), inset 0 0.5px 2px 0 rgba(0, 0, 0, 0.1);
			padding: 0px;
			> img {
				z-index: -2;
				position: relative;
				padding: 0px;
				object-fit: cover;
			}
		}

		&:nth-of-type(2n - 1) {
			grid-template: auto auto 1fr/1fr auto;
			grid-template-areas:
				"name img"
				"position img"
				"desc img";
		}
		@media screen and (max-width: 500px) {
			& {
				grid-template: 1fr auto auto/1fr auto !important;
				grid-template-areas: "name img" "position img" "desc desc" !important;
				> p:first-of-type {
					align-self: flex-end;
				}
			}
		}
		div {
			float: none;
			grid-area: img;
		}
		p:first-of-type {
			grid-area: name;
			font-size: 1.2em;
			font-weight: 600;
		}
		p:nth-of-type(2):not(:last-of-type) {
			grid-area: position;
			font-style: italic;
		}
		p:last-of-type {
			grid-area: desc;
		}
	}
}

.feature-item {
	float: left;
	@supports (display: grid) {
		clear: both;
		display: grid;
		grid-template-rows: [img] auto [title] auto [subtitle] auto [desc] 1fr;
		div {
			grid-area: img;
			justify-self: center;
			height: 100px;
			width: 90%;
			width: calc(100%-5px);
			border-radius: 10px;
			display: grid;
			place-items: center;
			justify-items: center;
			box-shadow: none;

			img {
				width: 90%;
				max-height: 90%;
			}
		}
		p:first-of-type {
			grid-area: title;
			font-size: 1.2em;
			font-weight: 600;
		}
		p:nth-of-type(2):not(:last-of-type) {
			grid-area: subtitle;
			font-style: italic;
		}
		p:last-of-type {
			grid-area: desc;
		}
	}
}

.product {
	margin: 40px auto;
	img {
		float: left;
	}
	@supports (display: grid) {
		display: grid;

		grid-template-rows: [text] auto 40px [img] auto;
		@media screen and (min-width: 700px) {
			& {
				grid-template-rows: 1fr;
				grid-template-columns: [img] minmax(250px, 2fr) 40px [text] minmax(300px, 3fr);
			}
			&:nth-of-type(2n) {
				grid-template-columns: [text] minmax(300px, 3fr) 40px [img] minmax(250px, 2fr);
			}
		}
		> img {
			clear: both;
			grid-area: img;
		}
		> div {
			grid-area: text;
		}
	}
}

.testimonial {
	margin: 40px auto;
	padding: 20px !important;
	img {
		float: left;
	}
	@supports (display: grid) {
		clear: both;
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: [logo] auto [quote] auto [person] auto [position] auto;
		@media screen and (min-width: 800px) {
			& {
				grid-template-columns: auto 1fr;
				grid-template-rows: auto 1fr 1fr;
				grid-template-areas:
					"quote quote"
					"logo person"
					"logo position";
			}
		}
	}
	p:first-of-type {
		grid-area: quote;
		padding: 0.5em 1em;
		text-align: center;
		&:after {
			content: "”";
			left: 50%;
		}
		&:before {
			content: "“";
			right: 50%;
		}
		&:before,
		&:after {
			font-size: 2em;
			position: relative;
			font-weight: bolder;
			color: $ent-purple;
			display: block;
			transform: translateY(7px);
		}
	}
	p:nth-of-type(2) {
		grid-area: person;
		justify-self: flex-end;
		align-self: flex-end;
	}
	p:nth-of-type(3) {
		grid-area: position;
		justify-self: flex-end;
		align-self: flex-start;
	}
	img {
		grid-area: logo;
		justify-self: center;
	}
}
